.staff__container {
  overflow: auto;
  gap: 30px;
  flex-grow: 1;
  display: flex;
}

.staff__left {
  display: flex;
  flex-direction: column;
  width: 35%
}
.staff__right {
  width: 65%
}
.staff__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  padding-top: 0;
  overflow: auto
}

.staff {
  cursor: pointer;
  user-select: none;
  padding: 10px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: var(--radius-medium)
}
.staff:hover, .staff.selected {
  background-color: rgba(var(--accent-color-secondary), 0.2)
}
.staff__delete:hover {
  color: #ff2222
}